# Import the Libraries

In [169]:
import os
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from statsmodels.stats import weightstats as ssw
from scipy.stats import chi2_contingency
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from statsmodels.stats.outliers_influence import variance_inflation_factor
import statsmodels.api as sm
from sklearn.metrics import classification_report

# Import Datasets

In [170]:
df = pd.read_csv('census_income.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,annual_income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

# Basic Information

In [159]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  annual_income   32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

## Target Variable Information

In [160]:
df["annual_income"].unique()

array(['<=50K', '>50K'], dtype=object)

In [161]:
df.annual_income.value_counts()

annual_income
<=50K    24720
>50K      7841
Name: count, dtype: int64

In [171]:
df['annual_income'] = df['annual_income'].map({'<=50K': 0, '>50K': 1})
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,annual_income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

In [202]:
df = df.drop('fnlwgt', axis = 1)

## Convert values in binary format

In [163]:
df['annual_income'] = df['annual_income'].map({'<=50K': 0, '>50K': 1})
df.annual_income.value_counts()

Series([], Name: count, dtype: int64)

We labeled the values of
* '<=50K'     with     0
* '>50K'      with     1

## Replace missing placeholders '?' with 'others'1

In [164]:
for col in ['workclass', 'occupation', 'native-country']:
    df[col] = df[col].replace('?', 'others')

In [165]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,annual_income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,NaN
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,NaN
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,NaN
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,NaN
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,NaN

Here we labeled the values 
<=50K': 0
'>50K': 1
for proper interpretation and prediction

In [166]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,annual_income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,NaN
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,NaN
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,NaN
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,NaN
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,NaN

## Apply Categorical Features - Chi Square Test for Degree of Association

In [172]:
cat_cols = []
conti_cols = []
for i in df.columns:
  if df[i].dtype == 'object':
    print(i)
    print(np.unique(df[i]))
#----> print the column name and its unique values to manually inspect categories

workclass
['?' 'Federal-gov' 'Local-gov' 'Never-worked' 'Private' 'Self-emp-inc'
 'Self-emp-not-inc' 'State-gov' 'Without-pay']
education
['10th' '11th' '12th' '1st-4th' '5th-6th' '7th-8th' '9th' 'Assoc-acdm'
 'Assoc-voc' 'Bachelors' 'Doctorate' 'HS-grad' 'Masters' 'Preschool'
 'Prof-school' 'Some-college']
marital-status
['Divorced' 'Married-AF-spouse' 'Married-civ-spouse'
 'Married-spouse-absent' 'Never-married' 'Separated' 'Widowed']
occupation
['?' 'Adm-clerical' 'Armed-Forces' 'Craft-repair' 'Exec-managerial'
 'Farming-fishing' 'Handlers-cleaners' 'Machine-op-inspct' 'Other-service'
 'Priv-house-serv' 'Prof-specialty' 'Protective-serv' 'Sales'
 'Tech-support' 'Transport-moving']
relationship
['Husband' 'Not-in-family' 'Other-relative' 'Own-child' 'Unmarried' 'Wife']
race
['Amer-Indian-Eskimo' 'Asian-Pac-Islander' 'Black' 'Other' 'White']
sex
['Female' 'Male']
native-country
['?' 'Cambodia' 'Canada' 'China' 'Columbia' 'Cuba' 'Dominican-Republic'
 'Ecuador' 'El-Salvador' 'England' 'France' 'Germany' 'Greece' 'Guatemala'
 'Haiti' 'Holand-Netherlands' 'Honduras' 'Hong' 'Hungary' 'India' 'Iran'
 'Ireland' 'Italy' 'Jamaica' 'Japan' 'Laos' 'Mexico' 'Nicaragua'
 'Outlying-US(Guam-USVI-etc)' 'Peru' 'Philippines' 'Poland' 'Portugal'
 'Puerto-Rico' 'Scotland' 'South' 'Taiwan' 'Thailand' 'Trinadad&Tobago'
 'United-States' 'Vietnam' 'Yugoslavia']

* cat_cols = [] ---> to store the names of categorical columns
* conti_cols = [] ---> to store the names of Continuous columns

In [173]:
for i in df.columns:
  if df[i].dtype == 'object':
    print("-----------------------")
    print(f"Ho: {i} has no influence on annual_income")
    test_df = pd.crosstab(df[i], df.annual_income)
    chi2, p, *_ = chi2_contingency(test_df)
    if p > 0.05:
      print(p)
      print('We do not reject the Null hypothesis (Ho).')
    else:
      cat_cols.append(i)
      print(p)
      print('We reject the Null-hypothesis')

-----------------------
Ho: workclass has no influence on annual_income
2.0265054311207156e-220
We reject the Null-hypothesis
-----------------------
Ho: education has no influence on annual_income
0.0
We reject the Null-hypothesis
-----------------------
Ho: marital-status has no influence on annual_income
0.0
We reject the Null-hypothesis
-----------------------
Ho: occupation has no influence on annual_income
0.0
We reject the Null-hypothesis
-----------------------
Ho: relationship has no influence on annual_income
0.0
We reject the Null-hypothesis
-----------------------
Ho: race has no influence on annual_income
2.305960610160958e-70
We reject the Null-hypothesis
-----------------------
Ho: sex has no influence on annual_income
0.0
We reject the Null-hypothesis
-----------------------
Ho: native-country has no influence on annual_income
2.2113858852543023e-44
We reject the Null-hypothesis

- This code performs a Chi-Square test of independence between each categorical column and the target variable annual_income.
- To identify which categorical features are statistically associated with the income class (<=50K or >50K), and keep only those relevant features.
- The Chi-Square test is used to find dependency/association between two categorical variables. Since both the feature (i) and the target (annual_income) are categorical, this is the correct test to use.

## Analyze the distribution of categories within the 'workclass' and 'occupation' columns.

In [188]:
test_workclass = df.workclass.value_counts(normalize=True).reset_index()
test_occupation = df.occupation.value_counts(normalize=True).reset_index()
test_native = df['native-country'].value_counts(normalize=True).reset_index()

print("*****************************************************************************************")
print(test_workclass)
print("*****************************************************************************************")
print(test_occupation)
print("*****************************************************************************************")
print(test_native)
print("*****************************************************************************************")

*****************************************************************************************
          workclass  proportion
0           Private    0.697030
1  Self-emp-not-inc    0.078038
2         Local-gov    0.064279
3            others    0.056386
4         State-gov    0.039864
5      Self-emp-inc    0.034274
6       Federal-gov    0.029483
7       Without-pay    0.000430
8      Never-worked    0.000215
*****************************************************************************************
           occupation  proportion
0      Prof-specialty    0.127146
1        Craft-repair    0.125887
2     Exec-managerial    0.124873
3        Adm-clerical    0.115783
4               Sales    0.112097
5       Other-service    0.101195
6   Machine-op-inspct    0.061485
7              others    0.056601
8    Transport-moving    0.049046
9   Handlers-cleaners    0.042075
10    Farming-fishing    0.030527
11       Tech-support    0.028500
12    Protective-serv    0.019932
13    Priv-house-serv    0.004576
14       Armed-Forces    0.000276
*****************************************************************************************
                native-country  proportion
0                United-States    0.895857
1                       Mexico    0.019748
2                       others    0.017905
3                  Philippines    0.006081
4                      Germany    0.004207
5                       Canada    0.003716
6                  Puerto-Rico    0.003501
7                  El-Salvador    0.003255
8                        India    0.003071
9                         Cuba    0.002918
10                     England    0.002764
11                     Jamaica    0.002488
12                       South    0.002457
13                       China    0.002303
14                       Italy    0.002242
15          Dominican-Republic    0.002150
16                     Vietnam    0.002058
17                   Guatemala    0.001966
18                       Japan    0.001904
19                      Poland    0.001843
20                    Columbia    0.001812
21                      Taiwan    0.001566
22                       Haiti    0.001351
23                        Iran    0.001321
24                    Portugal    0.001136
25                   Nicaragua    0.001044
26                        Peru    0.000952
27                      France    0.000891
28                      Greece    0.000891
29                     Ecuador    0.000860
30                     Ireland    0.000737
31                        Hong    0.000614
32                    Cambodia    0.000584
33             Trinadad&Tobago    0.000584
34                        Laos    0.000553
35                    Thailand    0.000553
36                  Yugoslavia    0.000491
37  Outlying-US(Guam-USVI-etc)    0.000430
38                    Honduras    0.000399
39                     Hungary    0.000399
40                    Scotland    0.000369
41          Holand-Netherlands    0.000031
*****************************************************************************************

- To know the different proportions of categories in the column workclass and occupation

## Above column contains missing values '?' lets replace it with 'others'

In [189]:
for i in ['workclass', 'occupation', 'native-country']:
  df[i] = df[i].replace('?', 'others')

In [190]:
print("*****************************************************************************************")
print(df['workclass'].unique())
print("*****************************************************************************************")
print(df['occupation'].unique())
print("*****************************************************************************************")
print(df['native-country'].unique())
print("*****************************************************************************************")

*****************************************************************************************
['State-gov' 'Self-emp-not-inc' 'Private' 'Federal-gov' 'Local-gov'
 'others' 'Self-emp-inc' 'Without-pay' 'Never-worked']
*****************************************************************************************
['Adm-clerical' 'Exec-managerial' 'Handlers-cleaners' 'Prof-specialty'
 'Other-service' 'Sales' 'Craft-repair' 'Transport-moving'
 'Farming-fishing' 'Machine-op-inspct' 'Tech-support' 'others'
 'Protective-serv' 'Armed-Forces' 'Priv-house-serv']
*****************************************************************************************
['United-States' 'Cuba' 'Jamaica' 'India' 'others' 'Mexico' 'South'
 'Puerto-Rico' 'Honduras' 'England' 'Canada' 'Germany' 'Iran'
 'Philippines' 'Italy' 'Poland' 'Columbia' 'Cambodia' 'Thailand' 'Ecuador'
 'Laos' 'Taiwan' 'Haiti' 'Portugal' 'Dominican-Republic' 'El-Salvador'
 'France' 'Guatemala' 'China' 'Japan' 'Yugoslavia' 'Peru'
 'Outlying-US(Guam-USVI-etc)' 'Scotland' 'Trinadad&Tobago' 'Greece'
 'Nicaragua' 'Vietnam' 'Hong' 'Ireland' 'Hungary' 'Holand-Netherlands']
*****************************************************************************************

In [191]:
for i in df.columns:
  if df[i].dtype != 'object' and i != 'annual_income':
    print(i)

age
fnlwgt
education-num
capital-gain
capital-loss
hours-per-week

- Lists all continuous (numeric) columns other than the target column annual_income.

In [192]:
for i in df.columns:
    if df[i].dtype != 'object' and i != 'annual_income':
        print("*****************************************************************************************")
        print(f"{i} has no influence on annual_income")
        t, p = ssw.ztest(df[df.annual_income == 1][i], df[df.annual_income == 0][i], value=0)
        print(p)
        if p > 0.05:
            print('We do not reject the null hypothesis (Ho).')
        else:
            conti_cols.append(i)
            print("We reject the null hypothesis (Ho)")

*****************************************************************************************
age has no influence on annual_income
0.0
We reject the null hypothesis (Ho)
*****************************************************************************************
fnlwgt has no influence on annual_income
0.08772712748728925
We do not reject the null hypothesis (Ho).
*****************************************************************************************
education-num has no influence on annual_income
0.0
We reject the null hypothesis (Ho)
*****************************************************************************************
capital-gain has no influence on annual_income
0.0
We reject the null hypothesis (Ho)
*****************************************************************************************
capital-loss has no influence on annual_income
3.5734849240534076e-166
We reject the null hypothesis (Ho)
*****************************************************************************************
hours-per-week has no influence on annual_income
0.0
We reject the null hypothesis (Ho)

- Use the Two-sample Z-test to compare the mean values of feature i between:
- People with income >50K (annual_income == 1)
- People with income <=50K (annual_income == 0)

- To check if the feature significantly differs between the two income groups.
- If it does, then it’s a good predictor of income and should be kept for modeling.

In [195]:
final_cols = cat_cols + conti_cols
final_cols
# Columns who influence annual Income

['workclass',
 'education',
 'marital-status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'native-country',
 'age',
 'education-num',
 'capital-gain',
 'capital-loss',
 'hours-per-week',
 'age',
 'education-num',
 'capital-gain',
 'capital-loss',
 'hours-per-week']

In [196]:
test_dummy = pd.DataFrame() #--------> Initializes an empty DataFrame to store all the dummy-encoded columns.

In [199]:
test_dummy = pd.DataFrame()

for i in cat_cols:
    dummy = pd.get_dummies(df[i], drop_first=True, prefix=f"{i}").astype(int)
    test_dummy = pd.concat([test_dummy, dummy], axis=1)

    print(f"\n✅ One-hot encoding completed for: '{i}'")
    print(f"Unique categories in original column: {df[i].unique()}")
    print(f"Generated dummy columns: {list(dummy.columns)}")

print("\n✅ All categorical features successfully encoded.")

✅ One-hot encoding completed for: 'workclass'
Unique categories in original column: ['State-gov' 'Self-emp-not-inc' 'Private' 'Federal-gov' 'Local-gov'
 'others' 'Self-emp-inc' 'Without-pay' 'Never-worked']
Generated dummy columns: ['workclass_Local-gov', 'workclass_Never-worked', 'workclass_Private', 'workclass_Self-emp-inc', 'workclass_Self-emp-not-inc', 'workclass_State-gov', 'workclass_Without-pay', 'workclass_others']

✅ One-hot encoding completed for: 'education'
Unique categories in original column: ['Bachelors' 'HS-grad' '11th' 'Masters' '9th' 'Some-college' 'Assoc-acdm'
 'Assoc-voc' '7th-8th' 'Doctorate' 'Prof-school' '5th-6th' '10th'
 '1st-4th' 'Preschool' '12th']
Generated dummy columns: ['education_11th', 'education_12th', 'education_1st-4th', 'education_5th-6th', 'education_7th-8th', 'education_9th', 'education_Assoc-acdm', 'education_Assoc-voc', 'education_Bachelors', 'education_Doctorate', 'education_HS-grad', 'education_Masters', 'education_Preschool', 'education_Prof-school', 'education_Some-college']

✅ One-hot encoding completed for: 'marital-status'
Unique categories in original column: ['Never-married' 'Married-civ-spouse' 'Divorced' 'Married-spouse-absent'
 'Separated' 'Married-AF-spouse' 'Widowed']
Generated dummy columns: ['marital-status_Married-AF-spouse', 'marital-status_Married-civ-spouse', 'marital-status_Married-spouse-absent', 'marital-status_Never-married', 'marital-status_Separated', 'marital-status_Widowed']

✅ One-hot encoding completed for: 'occupation'
Unique categories in original column: ['Adm-clerical' 'Exec-managerial' 'Handlers-cleaners' 'Prof-specialty'
 'Other-service' 'Sales' 'Craft-repair' 'Transport-moving'
 'Farming-fishing' 'Machine-op-inspct' 'Tech-support' 'others'
 'Protective-serv' 'Armed-Forces' 'Priv-house-serv']
Generated dummy columns: ['occupation_Armed-Forces', 'occupation_Craft-repair', 'occupation_Exec-managerial', 'occupation_Farming-fishing', 'occupation_Handlers-cleaners', 'occupation_Machine-op-inspct', 'occupation_Other-service', 'occupation_Priv-house-serv', 'occupation_Prof-specialty', 'occupation_Protective-serv', 'occupation_Sales', 'occupation_Tech-support', 'occupation_Transport-moving', 'occupation_others']

✅ One-hot encoding completed for: 'relationship'
Unique categories in original column: ['Not-in-family' 'Husband' 'Wife' 'Own-child' 'Unmarried' 'Other-relative']
Generated dummy columns: ['relationship_Not-in-family', 'relationship_Other-relative', 'relationship_Own-child', 'relationship_Unmarried', 'relationship_Wife']

✅ One-hot encoding completed for: 'race'
Unique categories in original column: ['White' 'Black' 'Asian-Pac-Islander' 'Amer-Indian-Eskimo' 'Other']
Generated dummy columns: ['race_Asian-Pac-Islander', 'race_Black', 'race_Other', 'race_White']

✅ One-hot encoding completed for: 'sex'
Unique categories in original column: ['Male' 'Female']
Generated dummy columns: ['sex_Male']

✅ One-hot encoding completed for: 'native-country'
Unique categories in original column: ['United-States' 'Cuba' 'Jamaica' 'India' 'others' 'Mexico' 'South'
 'Puerto-Rico' 'Honduras' 'England' 'Canada' 'Germany' 'Iran'
 'Philippines' 'Italy' 'Poland' 'Columbia' 'Cambodia' 'Thailand' 'Ecuador'
 'Laos' 'Taiwan' 'Haiti' 'Portugal' 'Dominican-Republic' 'El-Salvador'
 'France' 'Guatemala' 'China' 'Japan' 'Yugoslavia' 'Peru'
 'Outlying-US(Guam-USVI-etc)' 'Scotland' 'Trinadad&Tobago' 'Greece'
 'Nicaragua' 'Vietnam' 'Hong' 'Ireland' 'Hungary' 'Holand-Netherlands']
Generated dummy columns: ['native-country_Canada', 'native-country_China', 'native-country_Columbia', 'native-country_Cuba', 'native-country_Dominican-Republic', 'native-country_Ecuador', 'native-country_El-Salvador', 'native-country_England', 'native-country_France', 'native-country_Germany', 'native-country_Greece', 'native-country_Guatemala', 'native-country_Haiti', 'native-country_Holand-Netherlands', 'native-country_Honduras', 'native-country_Hong', 'native-country_Hungary', 'native-country_India', 'native-country_Iran', 'native-country_Ireland', 'native-country_Italy', 'native-country_Jamaica', 'native-country_Japan', 'native-country_Laos', 'native-country_Mexico', 'native-country_Nicaragua', 'native-country_Outlying-US(Guam-USVI-etc)', 'native-country_Peru', 'native-country_Philippines', 'native-country_Poland', 'native-country_Portugal', 'native-country_Puerto-Rico', 'native-country_Scotland', 'native-country_South', 'native-country_Taiwan', 'native-country_Thailand', 'native-country_Trinadad&Tobago', 'native-country_United-States', 'native-country_Vietnam', 'native-country_Yugoslavia', 'native-country_others']

✅ All categorical features successfully encoded.

- This block performs one-hot encoding on the selected categorical columns, which are identified as relevant through statistical testing. 
- It generates binary (0/1) indicator variables for each category (excluding the first to prevent multicollinearity), and stores the results in a combined DataFrame (test_dummy). 
- This encoded data is then prepared for merging with the original dataset for use in model training.

In [200]:
test_dummy.columns

Index(['workclass_Local-gov', 'workclass_Never-worked', 'workclass_Private',
       'workclass_Self-emp-inc', 'workclass_Self-emp-not-inc',
       'workclass_State-gov', 'workclass_Without-pay', 'workclass_others',
       'education_11th', 'education_12th', 'education_1st-4th',
       'education_5th-6th', 'education_7th-8th', 'education_9th',
       'education_Assoc-acdm', 'education_Assoc-voc', 'education_Bachelors',
       'education_Doctorate', 'education_HS-grad', 'education_Masters',
       'education_Preschool', 'education_Prof-school',
       'education_Some-college', 'marital-status_Married-AF-spouse',
       'marital-status_Married-civ-spouse',
       'marital-status_Married-spouse-absent', 'marital-status_Never-married',
       'marital-status_Separated', 'marital-status_Widowed',
       'occupation_Armed-Forces', 'occupation_Craft-repair',
       'occupation_Exec-managerial', 'occupation_Farming-fishing',
       'occupation_Handlers-cleaners', 'occupation_Machine-op-inspct',
       'occupation_Other-service', 'occupation_Priv-house-serv',
       'occupation_Prof-specialty', 'occupation_Protective-serv',
       'occupation_Sales', 'occupation_Tech-support',
       'occupation_Transport-moving', 'occupation_others',
       'relationship_Not-in-family', 'relationship_Other-relative',
       'relationship_Own-child', 'relationship_Unmarried', 'relationship_Wife',
       'race_Asian-Pac-Islander', 'race_Black', 'race_Other', 'race_White',
       'sex_Male', 'native-country_Canada', 'native-country_China',
       'native-country_Columbia', 'native-country_Cuba',
       'native-country_Dominican-Republic', 'native-country_Ecuador',
       'native-country_El-Salvador', 'native-country_England',
       'native-country_France', 'native-country_Germany',
       'native-country_Greece', 'native-country_Guatemala',
       'native-country_Haiti', 'native-country_Holand-Netherlands',
       'native-country_Honduras', 'native-country_Hong',
       'native-country_Hungary', 'native-country_India', 'native-country_Iran',
       'native-country_Ireland', 'native-country_Italy',
       'native-country_Jamaica', 'native-country_Japan', 'native-country_Laos',
       'native-country_Mexico', 'native-country_Nicaragua',
       'native-country_Outlying-US(Guam-USVI-etc)', 'native-country_Peru',
       'native-country_Philippines', 'native-country_Poland',
       'native-country_Portugal', 'native-country_Puerto-Rico',
       'native-country_Scotland', 'native-country_South',
       'native-country_Taiwan', 'native-country_Thailand',
       'native-country_Trinadad&Tobago', 'native-country_United-States',
       'native-country_Vietnam', 'native-country_Yugoslavia',
       'native-country_others'],
      dtype='object')

- Above displays the column names of your encoded (one-hot) features, created from the selected categorical columns (cat_cols).

In [201]:
df = df.drop(columns=cat_cols)
df = pd.concat([df, test_dummy], axis=1)
df.columns

Index(['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss',
       'hours-per-week', 'annual_income', 'workclass_Local-gov',
       'workclass_Never-worked', 'workclass_Private',
       ...
       'native-country_Puerto-Rico', 'native-country_Scotland',
       'native-country_South', 'native-country_Taiwan',
       'native-country_Thailand', 'native-country_Trinadad&Tobago',
       'native-country_United-States', 'native-country_Vietnam',
       'native-country_Yugoslavia', 'native-country_others'],
      dtype='object', length=101)

- This block finalizes the transformation of categorical features into numerical format using one-hot encoding, integrates them into the main dataset, and removes the original categorical variables to avoid redundancy.
- The resulting DataFrame df is fully numeric and ready for model training.

In [204]:
df_preds = df.drop('annual_income', axis = 1)
df_resp = df['annual_income']

- Split predictors and response columns

In [205]:
df_preds.shape

(32561, 99)

In [206]:
x_train, x_test, y_train, y_test = train_test_split(df_preds, df_resp, test_size=0.2)
vif_data = pd.DataFrame()
vif_data['Columns'] = conti_cols
test_df = x_train[conti_cols]
res = []
for ctr in range(test_df.shape[1]):
  res.append(variance_inflation_factor(test_df.values, ctr))
vif_data['VIF'] = res
vif_data

C:\Python-3.10\lib\site-packages\statsmodels\stats\outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

          Columns           VIF
0             age  2.206920e+09
1   education-num  2.147054e+09
2    capital-gain           inf
3    capital-loss           inf
4  hours-per-week           inf
5             age           inf
6   education-num           inf
7    capital-gain           inf
8    capital-loss  3.277420e+09
9  hours-per-week  1.224178e+07

- This block checks your continuous variables for multicollinearity using VIF. 
- Features with a high VIF may need to be removed to improve model stability and interpretability.

In [207]:
mod = sm.Logit(y_train, x_train).fit()
print(mod.summary())

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.314651
         Iterations: 35
                           Logit Regression Results
==============================================================================
Dep. Variable:          annual_income   No. Observations:                26048
Model:                          Logit   Df Residuals:                    25950
Method:                           MLE   Df Model:                           97
Date:                Mon, 16 Jun 2025   Pseudo R-squ.:                  0.4291
Time:                        00:13:40   Log-Likelihood:                -8196.0
converged:                      False   LL-Null:                       -14357.
Covariance Type:            nonrobust   LLR p-value:                     0.000
=============================================================================================================
                                                coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------------------------
age                                           0.0262      0.002     14.210      0.000       0.023       0.030
education-num                                -1.0360      0.144     -7.198      0.000      -1.318      -0.754
capital-gain                                  0.0003   1.14e-05     28.013      0.000       0.000       0.000
capital-loss                                  0.0007   4.14e-05     15.805      0.000       0.001       0.001
hours-per-week                                0.0301      0.002     16.475      0.000       0.027       0.034
workclass_Local-gov                          -0.6059      0.126     -4.800      0.000      -0.853      -0.358
workclass_Never-worked                      -10.5962        nan        nan        nan         nan         nan
workclass_Private                            -0.4801      0.105     -4.553      0.000      -0.687      -0.273
workclass_Self-emp-inc                       -0.2235      0.138     -1.620      0.105      -0.494       0.047
workclass_Self-emp-not-inc                   -0.9905      0.123     -8.023      0.000      -1.233      -0.749
workclass_State-gov                          -0.8180      0.141     -5.790      0.000      -1.095      -0.541
workclass_Without-pay                       -20.1356   1.09e+04     -0.002      0.999   -2.13e+04    2.13e+04
workclass_others                              4.7468        nan        nan        nan         nan         nan
education_11th                                1.2147      0.296      4.098      0.000       0.634       1.796
education_12th                                2.7097      0.428      6.331      0.000       1.871       3.549
education_1st-4th                            -4.5978      0.755     -6.093      0.000      -6.077      -3.119
education_5th-6th                            -3.2769      0.540     -6.065      0.000      -4.336      -2.218
education_7th-8th                            -2.5305      0.360     -7.032      0.000      -3.236      -1.825
education_9th                                -1.1490      0.312     -3.688      0.000      -1.760      -0.538
education_Assoc-acdm                          7.6488      0.921      8.304      0.000       5.843       9.454
education_Assoc-voc                           6.5541      0.779      8.417      0.000       5.028       8.080
education_Bachelors                           9.2378      1.058      8.732      0.000       7.164      11.311
education_Doctorate                          13.3764      1.493      8.961      0.000      10.451      16.302
education_HS-grad                             3.9638      0.498      7.965      0.000       2.988       4.939
education_Masters                            10.6428      1.201      8.863      0.000       8.289      12.996
education_Preschool                         -30.2508   4573.747     -0.007      0.995   -8994.631    8934.129
education_Prof-school                        12.1929      1.349      9.042      0.000       9.550      14.836
education_Some-college                        5.3286      0.636      8.379      0.000       4.082       6.575
marital-status_Married-AF-spouse              2.7434      0.601      4.565      0.000       1.566       3.921
marital-status_Married-civ-spouse             2.1156      0.305      6.941      0.000       1.518       2.713
marital-status_Married-spouse-absent         -0.0838      0.253     -0.332      0.740      -0.579       0.411
marital-status_Never-married                 -0.5107      0.098     -5.230      0.000      -0.702      -0.319
marital-status_Separated                     -0.0520      0.176     -0.295      0.768      -0.397       0.293
marital-status_Widowed                        0.0937      0.170      0.551      0.581      -0.239       0.427
occupation_Armed-Forces                      -1.0830      1.525     -0.710      0.478      -4.072       1.906
occupation_Craft-repair                       0.0670      0.090      0.747      0.455      -0.109       0.243
occupation_Exec-managerial                    0.7971      0.087      9.203      0.000       0.627       0.967
occupation_Farming-fishing                   -0.9421      0.154     -6.098      0.000      -1.245      -0.639
occupation_Handlers-cleaners                 -0.5588      0.156     -3.587      0.000      -0.864      -0.253
occupation_Machine-op-inspct                 -0.1955      0.113     -1.725      0.084      -0.418       0.027
occupation_Other-service                     -0.8347      0.132     -6.306      0.000      -1.094      -0.575
occupation_Priv-house-serv                   -4.0679      1.686     -2.412      0.016      -7.373      -0.763
occupation_Prof-specialty                     0.5175      0.091      5.679      0.000       0.339       0.696
occupation_Protective-serv                    0.6060      0.139      4.369      0.000       0.334       0.878
occupation_Sales                              0.2887      0.092      3.127      0.002       0.108       0.470
occupation_Tech-support                       0.7558      0.125      6.026      0.000       0.510       1.002
occupation_Transport-moving                  -0.0952      0.111     -0.858      0.391      -0.313       0.122
occupation_others                            -5.8494        nan        nan        nan         nan         nan
relationship_Not-in-family                    0.5358      0.302      1.777      0.076      -0.055       1.127
relationship_Other-relative                  -0.3677      0.274     -1.341      0.180      -0.905       0.170
relationship_Own-child                       -0.7515      0.299     -2.516      0.012      -1.337      -0.166
relationship_Unmarried                        0.3436      0.319      1.077      0.281      -0.281       0.969
relationship_Wife                             1.4281      0.115     12.441      0.000       1.203       1.653
race_Asian-Pac-Islander                       0.6288      0.303      2.077      0.038       0.036       1.222
race_Black                                    0.4987      0.260      1.920      0.055      -0.010       1.008
race_Other                                -9.496e-05      0.405     -0.000      1.000      -0.793       0.793
race_White                                    0.5988      0.248      2.416      0.016       0.113       1.085
sex_Male                                      0.8974      0.089     10.134      0.000       0.724       1.071
native-country_Canada                        -0.8252      0.776     -1.063      0.288      -2.347       0.697
native-country_China                         -2.0028      0.798     -2.510      0.012      -3.567      -0.439
native-country_Columbia                      -3.4508      1.094     -3.154      0.002      -5.595      -1.306
native-country_Cuba                          -1.0461      0.800     -1.308      0.191      -2.613       0.521
native-country_Dominican-Republic            -3.0713      1.266     -2.426      0.015      -5.553      -0.590
native-country_Ecuador                       -1.6228      1.021     -1.590      0.112      -3.623       0.378
native-country_El-Salvador                   -2.0081      0.882     -2.277      0.023      -3.736      -0.280
native-country_England                       -1.2480      0.794     -1.571      0.116      -2.805       0.309
native-country_France                        -0.7266      0.916     -0.793      0.428      -2.522       1.069
native-country_Germany                       -1.0832      0.774     -1.400      0.162      -2.600       0.434
native-country_Greece                        -2.0887      0.936     -2.233      0.026      -3.922      -0.255
native-country_Guatemala                     -2.0458      1.214     -1.685      0.092      -4.425       0.333
native-country_Haiti                         -1.3234      1.014     -1.306      0.192      -3.310       0.663
native-country_Holand-Netherlands           -14.0006   3823.107     -0.004      0.997   -7507.153    7479.152
native-country_Honduras                      -2.7444      2.592     -1.059      0.290      -7.824       2.336
native-country_Hong                          -1.1232      1.091     -1.029      0.303      -3.262       1.016
native-country_Hungary                       -1.4573      1.067     -1.366      0.172      -3.549       0.634
native-country_India                         -2.0466      0.767     -2.669      0.008      -3.549      -0.544
native-country_Iran                          -1.4537      0.845     -1.721      0.085      -3.109       0.202
native-country_Ireland                       -0.7970      0.971     -0.821      0.412      -2.701       1.106
native-country_Italy                         -0.6833      0.800     -0.854      0.393      -2.252       0.885
native-country_Jamaica                       -1.1745      0.853     -1.377      0.169      -2.846       0.497
native-country_Japan                         -1.2325      0.815     -1.512      0.130      -2.830       0.365
native-country_Laos                          -2.7487      1.321     -2.081      0.037      -5.337      -0.160
native-country_Mexico                        -2.0279      0.760     -2.669      0.008      -3.517      -0.539
native-country_Nicaragua                     -2.1305      1.071     -1.990      0.047      -4.229      -0.032
native-country_Outlying-US(Guam-USVI-etc)   -29.4770   1.22e+06  -2.41e-05      1.000    -2.4e+06     2.4e+06
native-country_Peru                          -2.1780      1.118     -1.949      0.051      -4.368       0.012
native-country_Philippines                   -0.8298      0.736     -1.128      0.259      -2.272       0.612
native-country_Poland                        -1.3623      0.848     -1.607      0.108      -3.023       0.299
native-country_Portugal                      -1.2601      0.966     -1.304      0.192      -3.154       0.634
native-country_Puerto-Rico                   -1.4434      0.821     -1.759      0.079      -3.052       0.165
native-country_Scotland                      -1.5789      1.148     -1.375      0.169      -3.829       0.672
native-country_South                         -2.6560      0.836     -3.179      0.001      -4.294      -1.018
native-country_Taiwan                        -1.2677      0.868     -1.460      0.144      -2.970       0.434
native-country_Thailand                      -1.7466      1.217     -1.435      0.151      -4.133       0.640
native-country_Trinadad&Tobago               -1.8925      1.118     -1.692      0.091      -4.084       0.299
native-country_United-States                 -1.2608      0.720     -1.751      0.080      -2.672       0.150
native-country_Vietnam                       -2.6932      0.976     -2.760      0.006      -4.606      -0.781
native-country_Yugoslavia                    -1.2688      1.128     -1.125      0.261      -3.479       0.942
native-country_others                        -1.6304      0.730     -2.233      0.026      -3.062      -0.199
=============================================================================================================

C:\Python-3.10\lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

- This line trains the logistic regression model and provides a detailed statistical report on how each feature affects income classification, enabling both prediction and explainability

In [208]:
y_pred = mod.predict(x_test)

Performing the prediction step of your logistic regression model using the test data

In [209]:
y_pred_class = (y_pred >= 0.5).astype(int)
print(classification_report(y_test, y_pred_class))

              precision    recall  f1-score   support

           0       0.88      0.93      0.90      4926
           1       0.73      0.60      0.66      1587

    accuracy                           0.85      6513
   macro avg       0.80      0.77      0.78      6513
weighted avg       0.84      0.85      0.84      6513

This block converts predicted probabilities into binary class labels, then evaluates the model’s performance using precision, recall, f1-score, and accuracy.

### **Classification Report Summary**

* **Overall Accuracy:** 85%

* **Class 0 (≤50K income):**

  * **Precision:** 0.88 → 88% of predicted low-income cases were correct.
  * **Recall:** 0.93 → 93% of actual low-income individuals were correctly identified.
  * **F1-score:** 0.90 → Excellent balance between precision and recall.

* **Class 1 (>50K income):**

  * **Precision:** 0.73 → 73% of predicted high-income cases were correct.
  * **Recall:** 0.60 → Only 60% of actual high-income individuals were detected.
  * **F1-score:** 0.66 → Moderate performance; room for improvement.

- The model is **very good at detecting low-income individuals**, but **misses a significant portion of high-income ones**. Consider tuning the threshold or using class balancing techniques to improve recall for class 1.